
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

#activity {
    padding-top: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* จัดให้อยู่กึ่งกลางหน้าจอ */
}

/* New style for the header container with colored background */
.activity-header-container {
    background-color: #0d2b3f;
    padding: 20px;
    border-radius: 30px;
    width: 70%; /* กำหนดความกว้างเองที่ต้องการ เช่น 80% */
    max-width: 100%; /* ยังคงจำกัดความกว้างสูงสุดอยู่ที่ 100% */
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    margin-bottom: 20px; /* เพิ่มพื้นที่ด้านล่าง */
    margin-left: auto; /* จัดให้อยู่กึ่งกลาง */
    margin-right: auto; /* จัดให้อยู่กึ่งกลาง */
}

/* Styling for the activity title */
.activity-title {
    margin-top: 20px;
    font-family: 'Sarabun', sans-serif;
    font-size: 3rem;
    background: linear-gradient(315deg, #b5e3f3 15%, #FFFFFF 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}

/* Styling for the portfolio header */
.activity-header {
    margin: 0 auto 20px auto; /* กึ่งกลางทั้งด้านซ้ายและขวา */
    font-family: 'Sarabun', serif;
    font-size: 1.6rem;
    background: linear-gradient(315deg, #5cccf1 15%, #e4fdff 74%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}

/* General styles for project titles and texts */
.proj-title {
    font-family: 'Sarabun', sans-serif;
    font-size: 2.2rem;
    background: linear-gradient(315deg, #44b09e 0%, #92c2e2 74%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    margin-bottom: 1rem; /* เพิ่มพื้นที่ด้านล่าง */
}

.proj-text {
    font-family: 'Sarabun', sans-serif;
    max-width: 70%;
    margin: 0 auto;
    color: white;
}

.used-stack {
    margin-top: 5%;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.3rem;
    background: linear-gradient(315deg, #8544b0 0%, #98cff3 74%);
    -webkit-background-clip: text;
    color: transparent;
}

/* Additional styles for image and project layout */
.rounded-image {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.each-proj {
    margin-bottom: 50px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .activity-title {
        font-size: 2rem;
    }
    .port-header {
        font-size: 1.2rem;
    }
    .proj-title {
        font-size: 1.8rem;
    }
    .used-stack {
        font-size: 1rem;
    }
}
