@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* New style for the header container with colored background */
.activity-header-container {
    background-color: #0d2b3f;
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: auto; /* ใช้ margin-left: auto เพื่อผลักกรอบไปทางขวา */
    margin-right: 0; /* ให้กรอบชิดขอบขวา */
    margin-top: 20px; /* Add space above */
    max-width: 85%; 
    text-align: right; /* Align text to the left */
}

/* Styling for the activity title */
.activity-title {
    margin-top: 0;
    margin-bottom: 5px; /* ลด margin ล่างเพื่อให้กรอบชิดตัวหนังสือมากขึ้น */
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    background: linear-gradient(315deg, #b5e3f3 15%, #FFFFFF 100%);
    -webkit-background-clip: text;
    color: transparent; /* ใช้ gradient text color */
}

/* Styling for the portfolio header */
.activity-header {
    margin-top: 0;
    margin-bottom: 0; /* ลด margin ล่างเพื่อให้กรอบชิดตัวหนังสือมากขึ้น */
    font-family: 'Poppins', serif;
    font-size: 1.6rem;
    background: linear-gradient(315deg, #55c1e6 15%, #e4fdff 74%);
    -webkit-background-clip: text;
    color: transparent; /* ใช้ gradient text color */
}

/* General styles for project titles and texts */
.proj-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    background: linear-gradient(315deg, #44b09e 0%, #92c2e2 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.proj-text {
    font-family: 'Poppins', sans-serif;
    max-width: 70%;
    margin: 0 auto;
    color: white;
}

.used-stack {
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    background: linear-gradient(315deg, #8544b0 0%, #98cff3 74%);
    -webkit-background-clip: text;
    color: transparent;
}

/* Additional styles for image and project layout */
.rounded-image {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.each-proj {
    margin-bottom: 50px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .activity-title {
        font-size: 2rem;
    }
    .port-header {
        font-size: 1.2rem;
    }
    .proj-title {
        font-size: 1.8rem;
    }
    .used-stack {
        font-size: 1rem;
    }
}
